nav {
 margin: .2rem;
}
header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0.6rem;
  padding: 0.5rem;
  /* margin-left: auto;
  order: 2; */
  display: inline-block;
  align-content: flex-start;
}
.img-logo {
  height: 7vmin;
  width: 19vmin;
  margin: 0.8rem;
  cursor: pointer;
}
.links {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.links:hover {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  color: green;
}
